/* Header */
.jumbotron {
    text-align: center;
    padding: 1.5rem;
    background-color: #4d4e4f;
    color: #ffffff;
}

.search-city {
    width: fit-content;
    height: inherit;
}

#current-weather.border-padding.current-future.border.border-primary.rounded {
 

}

.display-4 {
    font-weight: 400;
}

body {
    background-color: #e4e4e4;
}

.container {
    margin: auto;
}

/* Search button */
#search-button {
    margin-top: 0.5rem;
}

/* Searched cities stack up on left */
.city-results-tile {
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    background-color: #c2cff1;
    color: #000000;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Current weather card */
#current-weather {
    height: 300px;
    margin-bottom: 10px;
    line-height: 300%;
    padding-top: 1%;
    padding-left: 2%;
}


/* 5 day forecast cards */
.forecast {
    width: 105px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #618ee2;
    color: #e0dddd;
}

.forecast-icon {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 2.5rem;
    height: 2.5rem;
}